$white: #ffffff;
$gray_1: #eae7e1;
$gray_2: #d5cec2;
$gray_3: #bfb9af;
$gray_4: #a7a29a;
$gray_5: #8e8b85;
$gray_6: #767571;
$gray_7: #5f5f5d;
$gray_8: #4a4b4b;
$gray_9: #3a3a3b;
$gray_10: #1c1d1d;
$black: #000000;

$green_dark: #388500;
$green: #77b800;

$blue_dark: #085780;
$blue: #2c95b5;

$orange_dark: #a52001;
$orange: #cd5a13;

$magenta_dark: #e0112d;
$magenta: #ef4268;

$yellow_dark: #e07005;
$yellow: #efa923;

$blue_med: #80b4b9;
$blue_med_2: #407f86;
$blue_light: #b5d6d9;

$red: #bf311a;
$red_dark: darken($red, 8);

$link_blue: $blue;