/* CENTER STAGE */
.center_stage {
  @include gradient_y($gray_6, $gray_7);
  margin: -20px -20px 20px -20px;
  padding: 16px 20px 0 20px;
  @include clearfix;
  .context_bar {
    height: 5px;
    border-top: 1px solid white;
    margin-top: -5px;
    margin-right: -20px;
    margin-left: -20px;
    display: block;
    clear: both;
    @include bg($gray_4, 1);
  }
  h1 {
    font-size: 24px;
    font-weight: normal;
    color: $white;
    padding-bottom: 12px;
  }
  /* ON-STAGE TABS */
  .stage-tabs {
    ul {
      list-style-type: none;
      margin-left: 0;
      li {
        display: inline-block;
        float: left;
        font-size: 11px;
        line-height: 17px;
        margin-right: 3px;
        a {
          padding: 3px 9px 2px 9px;
          display: block;
          @include gradient_y($gray_2, $gray_3);
          color: $gray_7;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
            color: $blue;
          }
        }
        &.active {
          a {
            @include gradient_y($white, $white);
          }
        }
      }
    }
    & + .context_bar {
      display: none;
    }
  }
}