/********************************************************************

Project: Formee - http://www.formeeee.org
Launched: 
Version: 3.1
Authors: Bernard De Luna - http://www.bernarddeluna.com
         Daniel Araujo - http://www.dnlaraujo.com.br
     Marcello Manso - http://www.marcellomanso.com.br

********************************************************************
Structure
********************************************************************/

/* Little CSS Reset to preserv form structure */

/* fix  ff bugs */
form:after, form div:after, form ol:after, form ul:after, form li:after, form dl:after {
  content:".";
  display:block;
  clear:both;
  visibility:hidden;
  height:0;
  overflow:hidden;
}

/* Form Structure */
form ul {list-style-type: none; margin: 0;}
form {
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 7px;
  }
  a.btn {margin-top: 2px;}
  .rule {
    border-color: $gray_2;
  }
}
form {margin:0;padding:0;}
form fieldset, .form-wrapper {
  @include round(3px);
  @include bg($gray_1, 1);
  background-image: url(image_path("form-bg.png"));
  background-repeat: repeat;
  padding: 15px;
}
.form-wrapper, #AcsPayments_vancoForm {
  .formee fieldset, form fieldset {
    background: none !important;
    padding: 0;
  }
}
form legend {
  margin-left:1%;
  margin-right:1%;
  padding: 0.5% 0 0.8%;
}

/* Field Grid */
.grid-1-12, .grid-2-12, .grid-3-12, .grid-4-12, .grid-5-12, .grid-6-12, .grid-7-12, .grid-8-12, .grid-9-12, .grid-10-12, .grid-11-12, .grid-12-12, .form_footer {
  display:inline-block;
  position:relative;
  float:left;
  margin-left:0;
  margin-right:0;
  padding: 0 1% 0.5% 0;
  margin-bottom: 10px;
  &.bottom-field {
    margin-bottom: 0;
  }
/*ie7*/
*margin-left:.8%;
*margin-right:.8%;
*padding: 0.8% 0.25% 1%;
}
.form_footer {
  padding: 0;
}

@mixin form_grid_field {
  display:inline-block;
  position:relative;
  float:left;
  margin-left:0;
  margin-right:0;
  padding: 0 1% 0.5% 0;
  margin-bottom: 10px;
}
/* 12-column Grid (thanks for Fluid 960 Grid System) */
.grid-1-12 {width: 7.333%;}
.grid-2-12 {width: 15.666%;}
.grid-3-12 {width: 24%;}
.grid-4-12 {width: 32.333%;}
.grid-5-12 {width: 40.666%;}
.grid-6-12 {width: 49%;}
.grid-7-12 {width: 57.333%;}
.grid-8-12 {width: 65.666%;}
.grid-9-12 {width: 74%;}
.grid-10-12 {width: 82.333%;}
.grid-11-12 {width: 90.666%;}
.grid-12-12, .form_footer {width: 99%;}
.form_footer {
  margin-bottom: 0; 
  padding-bottom: 0; 
  clear: both; 
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid $gray_2;
}


/* first item */ .formee .alpha {margin-left:0;}
/* last item */ .formee .omega {margin-right:0;}
/* clear */ .formee .clear {clear:both;}
/* input without label */ .formee-no-lbl {position:relative;padding-bottom:0;}
/* input without label */ .formee-no-lbl input,  .formee-no-lbl label,  .formee-no-lbl span,  .formee-no-lbl ul,  .formee-no-lbl p {position:absolute;bottom:0;}

/* multiple containers inside field-grid */
form .left {
  clear:none;
  float:left !important;
  margin-right:0.3em !important;
}
form .right {
  clear:none;
  float:right !important;
  margin-left:0.3em !important;
}

/* form elements  */
form label {
  display: block;
  height: auto;
  margin: 0 0 0 1px;
}
form input[type="text"], 
form input[type="password"],  
form input[type="number"], 
form input[type="file"], 
form textarea, 
form select {
  line-height: 1.1em;
  padding: 7px 5px 6px 5px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-color: $gray_2;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: $gray_7;
  width: 100%;
  margin: 0;
/*ie7*/
*width: 99%;
 &:focus {
  border-color: $link_blue;
  outline: none;
 }
}
form select {
  height: 30px;
  line-height: 30px;
  display: inline-block;
  vertical-align: middle;
}

/*form select {margin-top: 1px;}
@-moz-document url-prefix() {
  .formee select, 
  form select {margin-top: 0;}
}*/
::-webkit-input-placeholder { padding-top: 1px; }

form textarea {height: 10em;}

.formee-list label {
  display: inline;
  height: auto;
  margin: 0.5em 0 0.8em 2px;
}
.formee-req {
  position: relative;
  top:3px;
}

.formee-msg-info, .formee-msg-warning, .formee-msg-error, .formee-msg-success {
  padding:20px 20px 15px 38px;
  border: 1px solid #ccc;
  display: block;
  height: auto;
  margin: 0 1.5% 0.8em;
  clear:both;
}
.formee-msg-info li, .formee-msg-warning li, .formee-msg-error li, .formee-msg-success li {
  list-style: none;
  padding:0;  
  margin-bottom: .4%;
  font-size:1.4em;
  line-height:1.1em;
  vertical-align: top;
}

.errorExplanation {
  p {
    margin-bottom: 5px;
  }
}
label.error {
  color: $red;
}

/* lista de chk e rdo */
.formee-list {
  list-style: none;
  padding:0;
  margin:0;
}
.formee-list li, .formee-list li {
  float:left;
  display: inline-block;
  list-style:none;
}

/* input size */
.formee-small {
  width: 30% !important;
  float:left;
  margin-right: 10px;
  display:inline;
/*ie7*/
*width: 25% !important;
}

.formee-medium {
  width: 50% !important;
  float:left;
  margin-right: 10px;
  display:inline;
/*ie7*/
*width: 45% !important;
}

/* DIALOG */
.ui-dialog {
  background: $white;
  @include round(3px);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.35);
  border: 1px solid #999;
  padding: 15px 15px 10px;
  .ui-dialog-titlebar {
    font-size: 16px;
    font-weight: bold; 
    padding: 0 15px 10px 15px;
    margin: 0 -15px 10px -15px;
    border-bottom: 1px solid #dfdfdf;
  }
  .ui-dialog-buttonpane {
    padding: 10px 15px;
    margin: 0 -15px -10px -15px;
    border-top: 1px solid #dfdfdf;
  }
}
.ui-widget-overlay {
  @include bg($gray_10, .4);
}