@mixin bg($color, $alpha) {
  $rgba: rgba($color, $alpha);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#{ie-hex-str($rgba)}', endColorstr='#{ie-hex-str($rgba)}');";
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#{ie-hex-str($rgba)}', endColorstr='#{ie-hex-str($rgba)}');;
  background-color: transparent;
  background-color: $rgba;
  zoom: 1;
}

@mixin round($round: 3px) {
  -webkit-border-radius: $round;
  -moz-border-radius: $round;
  border-radius: $round;
}
@mixin round_bottom($round: 3px) {
  -moz-border-radius-bottomright: $round;
  -moz-border-radius-bottomleft: $round;
  -webkit-border-bottom-right-radius: $round;
  -webkit-border-bottom-left-radius: $round;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  border-bottom-right-radius: $round;
  border-bottom-left-radius: $round;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

@mixin round_top($round: 3px) {
  -moz-border-radius-topright: $round;
  -moz-border-radius-topleft: $round;
  -webkit-border-top-right-radius: $round;
  -webkit-border-top-left-radius: $round;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  border-top-right-radius: $round;
  border-top-left-radius: $round;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

@mixin gradient_y($color_top, $color_bottom) {
  background-color: $color_bottom;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#{ie-hex-str($color_top)}', endColorstr='#{ie-hex-str($color_bottom)}');";
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#{ie-hex-str($color_top)}', endColorstr='#{ie-hex-str($color_bottom)}');;
  zoom: 1;
  background: -webkit-gradient(linear, left top, left bottom, from($color_top), to($color_bottom));
  background: -moz-linear-gradient(top,  $color_top,  $color_bottom);
}

@mixin gradient_x($color_left, $color_right) {
  background-color: $color_right;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='#{ie-hex-str($color_left)}', endColorstr='#{ie-hex-str($color_right)}');";
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='#{ie-hex-str($color_left)}', endColorstr='#{ie-hex-str($color_right)}');;
  zoom: 1;
  background: -webkit-gradient(linear, left top, left bottom, from($color_left), to($color_right));
  background: -moz-linear-gradient(top,  $color_left,  $color_right);
}

@mixin sprite($x, $y, $repeat: no-repeat) {
  background-image: url(image_path("sprite.png"));
  background-repeat: $repeat;
  background-position: $x $y;
  text-indent: -5000em;
  overflow: hidden;
  display: inline-block;
}

@mixin icon_with_text_sprite($width, $x, $y, $repeat: no-repeat) {
  background-image: url(image_path("sprite.png"));
  background-repeat: $repeat;
  background-position: $x $y;
  padding-left: ($width + 4);
  display: inline-block;
}

@mixin chevron($color) {
    font-size: 0;
  height: 0;
  line-height: 0;
  border-style: solid;
  border-color: transparent;
  border-width: 23px 0 23px 23px;
  border-left-color: red;
  border-left-color: rgba(255, 0, 0, 0.5);
  position: absolute;
  right: -23px;
  top: 0;
}