/* TYPOGRAPHY */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height:1.4;
  color: $gray_6;
}
a {color: $link_blue; text-decoration: none;}
a:hover {color: $link_blue_hover;}

h1,h2,h3,h4,h5,h6 {letter-spacing: -0.025em; color: $gray_8; font-weight: bold; line-height: 1.3; margin-bottom: 3px;}
h1 {font-size:32px;}
h2 {font-size: 24px;}
h3 {font-size: 20px;}
h4 {font-size: 16px;}
h5 {font-size: 13px;}
p {margin-bottom: 15px;}
small {font-size: 90%;}
.intro {font-size: 18px; line-height: 1.3; margin-bottom: 30px;}
h6 {
  font-size: 9px;
  font-weight: bold;
  color: $gray_3;
  text-transform: uppercase;
  margin: 0;
  &.rule {
    margin-bottom: 0;
  }
}

ul {
  margin-left: 15px;
  list-style-type: disc;
  margin-bottom: 3px;
}
ol {
  list-style-type: decimal;
  margin-left: 15px;
}
em {font-style: italic;}
strong {font-weight: bold;}