@import "shared/colors";
@import "shared/mixins";


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  /* WE NEED THIS FOR ADDING 20PX OF GUTTER FOR THE 
     APP INSIDE THE CITY'S CONTAINER */
  margin: 20px;
}

/*
  Variable Grid System (Fluid Version).
  Learn more ~ http://www.spry-soft.com/grids/
  Based on 960 Grid System - http://960.gs/ & 960 Fluid - http://www.designinfluences.com/

  Licensed under GPL and MIT.
*/


/* Containers
----------------------------------------------------------------------------------------------------*/
.container {
  width: 100%;
}

/* Grid >> Global
----------------------------------------------------------------------------------------------------*/
.demo {
  @include bg($green, .4);
  padding-top: 10px; 
  padding-bottom: 10px; 
  height: 20px;
  text-align: center;
  @include round(3px);
  margin-bottom: 20px;
}
.box {
  @include bg($green, .4); 
  @include round(3px);
  margin-bottom: 20px; 
  .demo {
    margin-bottom:0;
  }
}
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8 {
  display:inline;
  float: left;
  position: relative;
  margin-right: 2%;
}

/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
  margin-left: 0;
}

.omega {
  margin-right: 0;
}

/* Grid >> 8 Columns
----------------------------------------------------------------------------------------------------*/


.grid_1 {
  width:10.5%;
}

.grid_2 {
  width:23.0%;
}

.grid_3 {
  width:35.5%;
}

.grid_4 {
  width:48.0%;
}

.grid_5 {
  width:60.5%;
}

.grid_6 {
  width:73.0%;
}

.grid_7 {
  width:85.5%;
}

.grid_8 {
  width:98.0%;
}



/* Prefix Extra Space >> 8 Columns
----------------------------------------------------------------------------------------------------*/


.prefix_1 {
  padding-left:12.5%;
}

.prefix_2 {
  padding-left:25.0%;
}

.prefix_3 {
  padding-left:37.5%;
}

.prefix_4 {
  padding-left:50.0%;
}

.prefix_5 {
  padding-left:62.5%;
}

.prefix_6 {
  padding-left:75.0%;
}

.prefix_7 {
  padding-left:87.5%;
}



/* Suffix Extra Space >> 8 Columns
----------------------------------------------------------------------------------------------------*/


.suffix_1 {
  padding-right:12.5%;
}

.suffix_2 {
  padding-right:25.0%;
}

.suffix_3 {
  padding-right:37.5%;
}

.suffix_4 {
  padding-right:50.0%;
}

.suffix_5 {
  padding-right:62.5%;
}

.suffix_6 {
  padding-right:75.0%;
}

.suffix_7 {
  padding-right:87.5%;
}



/* Push Space >> 8 Columns
----------------------------------------------------------------------------------------------------*/


.push_1 {
  left:12.5%;
}

.push_2 {
  left:25.0%;
}

.push_3 {
  left:37.5%;
}

.push_4 {
  left:50.0%;
}

.push_5 {
  left:62.5%;
}

.push_6 {
  left:75.0%;
}

.push_7 {
  left:87.5%;
}



/* Pull Space >> 8 Columns
----------------------------------------------------------------------------------------------------*/


.pull_1 {
  left:-12.5%;
}

.pull_2 {
  left:-25.0%;
}

.pull_3 {
  left:-37.5%;
}

.pull_4 {
  left:-50.0%;
}

.pull_5 {
  left:-62.5%;
}

.pull_6 {
  left:-75.0%;
}

.pull_7 {
  left:-87.5%;
}

/* http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack */

.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}



/********************************************************************

Project: Formee - http://www.formeeee.org
Launched: 
Version: 3.1
Authors: Bernard De Luna - http://www.bernarddeluna.com
         Daniel Araujo - http://www.dnlaraujo.com.br
     Marcello Manso - http://www.marcellomanso.com.br

********************************************************************
Structure
********************************************************************/

/* Little CSS Reset to preserv form structure */

/* fix  ff bugs */
.formee:after, .formee div:after, .formee ol:after, .formee ul:after, .formee li:after, .formee dl:after,
form:after, form div:after, form ol:after, form ul:after, form li:after, form dl:after {
  content:".";
  display:block;
  clear:both;
  visibility:hidden;
  height:0;
  overflow:hidden;
}

/* Form Structure */
.formee ul, form ul {list-style-type: none; margin: 0;}
form {
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 7px;
  }
  a.btn {margin-top: 2px;}
}
.formee, form {margin:0;padding:0;}
.formee fieldset, form fieldset {
  @include round(3px);
  @include bg($gray_1, 1);
  background-image: url(image_path('form-bg.png'));
  background-repeat: repeat;
  padding: 15px;
}
.formee legend, form legend {
  margin-left:1%;
  margin-right:1%;
  padding: 0.5% 0 0.8%;
}

/* Field Grid */
.grid-1-12, .grid-2-12, .grid-3-12, .grid-4-12, .grid-5-12, .grid-6-12, .grid-7-12, .grid-8-12, .grid-9-12, .grid-10-12, .grid-11-12, .grid-12-12, .form_footer {
  display:inline-block;
  position:relative;
  float:left;
  margin-left:0;
  margin-right:0;
  padding: 0 0.5% 1%;
/*ie7*/
*margin-left:.8%;
*margin-right:.8%;
*padding: 0.8% 0.25% 1%;
}

/* 12-column Grid (thanks for Fluid 960 Grid System) */
.grid-1-12 {width: 7.333%;}
.grid-2-12 {width: 15.666%;}
.grid-3-12 {width: 24%;}
.grid-4-12 {width: 32.333%;}
.grid-5-12 {width: 40.666%;}
.grid-6-12 {width: 49%;}
.grid-7-12 {width: 57.333%;}
.grid-8-12 {width: 65.666%;}
.grid-9-12 {width: 74%;}
.grid-10-12 {width: 82.333%;}
.grid-11-12 {width: 90.666%;}
.grid-12-12, .form_footer {width: 99%;}
.form_footer {margin-bottom: 0; padding-bottom: 0; clear: both;}


/* first item */ .formee .alpha {margin-left:0;}
/* last item */ .formee .omega {margin-right:0;}
/* clear */ .formee .clear {clear:both;}
/* input without label */ .formee-no-lbl {position:relative;padding-bottom:0;}
/* input without label */ .formee-no-lbl input,  .formee-no-lbl label,  .formee-no-lbl span,  .formee-no-lbl ul,  .formee-no-lbl p {position:absolute;bottom:0;}

/* multiple containers inside field-grid */
.formee .left,
form .left {
  clear:none;
  float:left !important;
  margin-right:0.3em !important;
}
.formee .right,
form .right {
  clear:none;
  float:right !important;
  margin-left:0.3em !important;
}

/* form elements  */
.formee-lbl, .formee label, form label {
  display: block;
  height: auto;
  margin: 0.2em 0 0.5em;
}
.formee .formee-txt, .formee input[type="text"], .formee input[type="password"], .formee input[type="file"], .formee textarea, .formee select,
form .formee-txt, form input[type="text"], form input[type="password"], form input[type="file"], form textarea, form select{
  vertical-align: middle;
  line-height: 1.1em;
  padding:5px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-color: $gray_2;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: $gray_7;
  width: 100%;
/*ie7*/
*width: 99%;
 &:focus {
  border-color: $link_blue;
  outline: none;
 }
}
.formee textarea, form textarea {height: 10em;}
.formee select, form select {padding:9px;height:2.7em;}
.formee-list .formee-lbl, .formee-list label {
  display: inline;
  height: auto;
  margin: 0.5em 0 0.8em 2px;
}
.formee-req {
  position: relative;
  top:3px;
}

.formee-msg-info, .formee-msg-warning, .formee-msg-error, .formee-msg-success {
  padding:20px 20px 15px 38px;
  border: 1px solid #ccc;
  display: block;
  height: auto;
  margin: 0 1.5% 0.8em;
  clear:both;
}
.formee-msg-info li, .formee-msg-warning li, .formee-msg-error li, .formee-msg-success li {
  list-style: none;
  padding:0;  
  margin-bottom: .4%;
  font-size:1.4em;
  line-height:1.1em;
  vertical-align: top;
}

/* lista de chk e rdo */
.formee-list {
  list-style: none;
  padding:0;
  margin:0;
}
.formee-list li, .formee-list li {
  float:left;
  display: inline-block;
  list-style:none;
}

/* input size */
.formee-small {
  width: 30% !important;
  float:left;
  margin-right: 10px;
  display:inline;
/*ie7*/
*width: 25% !important;
}

.formee-medium {
  width: 50% !important;
  float:left;
  margin-right: 10px;
  display:inline;
/*ie7*/
*width: 45% !important;
}

/* TYPOGRAPHY */
body {
  font-size: 13px;
  line-height:1.5;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $gray_6;
}
a {color: $link_blue; text-decoration: none;}
a:hover {color: $link_blue_hover;}

h1,h2,h3,h4,h5,h6 {letter-spacing: -0.025em; color: $gray_8; font-weight: bold; line-height: 1.3; margin-bottom: 3px;}
h1 {font-size:32px;}
h2 {font-size: 24px;}
h3 {font-size: 20px;}
h4 {font-size: 16px;}
h5 {font-size: 13px;}
p {margin-bottom: 15px;}
.intro {font-size: 18px; line-height: 1.3; margin-bottom: 30px;}
h6 {
  font-size: 9px;
  font-weight: bold;
  color: $gray_3;
  text-transform: uppercase;
  margin: 0 0 10px 0;
}

ul {
  margin-left: 15px;
  list-style-type: disc;
  margin-bottom: 3px;
}
ol {
  list-style-type: decimal;
  margin-left: 15px;
}
em {font-style: italic;}
strong {font-weight: bold;}


/* BUTTONS */
.btn {
  @include round(3px);
  background: url(image_path("btn_angled_bg.png")) repeat 0 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $white;
  font-size: 12px;
  line-height: 12px;
  display: inline-block;
  padding: 6px 12px 5px 12px;
  text-decoration: none;
  @include bg($green, 1);
  cursor: pointer;
  border: 0;
  &:hover {
    color: $white;
    text-decoration: none;
  }
}
.btn_mini {
  font-size: 11px;
  padding: 4px 10px;
}
.btn_go {
  @include bg($green, 1);
  &:hover {
    background-color: darken($green, 5%);
  }
}
.btn_stop {
  @include bg($red, 1);
  &:hover {
    background-color: darken($red, 5%);
  }
}
.btn_neutral {
  @include bg($blue_med, 1);
  &:hover {
    background-color: darken($blue_med, 5%);
  }
}
.btn_cancel {
  @include bg($white, 1);
  color: $gray_5;
  &:hover {
    color: $gray_5;
    background-color: darken($white, 5%);
  }
}

/* BUTTONS */


/* UTILITY CLASSES */
.clear{clear:both;}
.rule {padding-bottom:3px; border-bottom:1px solid #dfdfdf;margin-bottom:15px;}
.nolead {margin:0;}
.nostyle {list-style-type: none; margin-left: 0;}
.guttertop {margin-top: 20px;}
.gutterbottom {margin-bottom: 20px;}
.smallgutterbottom {margin-bottom: 10px;}
.smallguttertop {margin-top: 10px;}
.right {float: right;}
.left {float: left;}
/* TABLES */
table {
  width: 100%;
  margin-bottom: 20px;
  th, td {
    text-align: left;
    vertical-align: bottom;
    padding: 3px 8px;
  }
  th {
    @include bg($blue, .2);
    padding: 5px 8px;
    border-bottom: 1px solid $gray_2;
  }
  &.with_borders {
    border: 1px solid $gray_2;
    th, td {
      border-bottom: 1px solid $gray_2;
      border-right: 1px solid $gray_2;
    }
  }
  &.with_stripes {
    tbody {
      tr:nth-child(odd) td, 
      tr:nth-child(odd) th, 
      tr.odd td, 
      tr.odd th {
        @include bg($gray_1, .5);
      }
    }
  }
  tr td:last-child {border-right: 0;}
}

/* CENTER STAGE */
.center_stage {
  @include gradient_y($gray_6, $gray_7);
  margin: -20px -20px 20px -20px;
  padding: 16px 20px 0 20px;
  @include clearfix;
  .context_bar {
    height: 5px;
    border-top: 1px solid white;
    margin-top: -5px;
    margin-right: -20px;
    margin-left: -20px;
    display: block;
    clear: both;
    @include bg($gray_4, 1);
  }
  h1 {
    font-size: 24px;
    font-weight: normal;
    color: $white;
    padding-bottom: 12px;
  }
  /* ON-STAGE TABS */
  .stage-tabs {
    ul {
      list-style-type: none;
      margin-left: 0;
      li {
        display: inline-block;
        float: left;
        font-size: 11px;
        line-height: 17px;
        margin-right: 3px;
        a {
          padding: 3px 9px 2px 9px;
          display: block;
          @include gradient_y($gray_2, $gray_3);
          color: $gray_7;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
            color: $blue;
          }
        }
        &.active {
          a {
            @include gradient_y($white, $white);
          }
        }
      }
    }
    & + .context_bar {
      display: none;
    }
  }
}

/* NEWS FEED ITEM */
.thumb {
  img {
    padding: 2px;
    border: 1px solid $gray_2;
  }
}
.feed_item {
  @include gradient_x($white, $gray_1);
  position: relative;
  padding: 2px 15px 10px 64px;
  border-right: 5px solid $gray_5;
  margin-bottom: 15px;
  clear: both;
  .thumb {
    position: absolute;
    left: 0;
    top: 0;
  }
  .updated_badge {
    font-size: 10px;
    font-style: italic;
    text-align: right;
    margin-top: 3px;
    margin-right: 0; 
    margin-bottom: 0;
    float: right; 
    width: 31.333%;
  }
  .meta {
    font-size: 11px;
    clear: both;
    margin-bottom: 5px;
  }
  .title {
    float: left;
    width: 64.667%;
    font-weight: bold; 
    font-size: 16px;
    margin-bottom: 0;
  }
  .response {
    padding: 10px 0 0 44px;
    position: relative;
    .thumb {
      position: absolute;
      left: 0; 
      top: 10px;
      img {
        width: 32px; 
        height: 32px;
      }
    }
    .meta {
      margin-bottom: 0;
    }
  }
}

/* GENERIC CONTAINER ITEMS */
.item {
  padding: 10px;
  @includ round(3px);
  @include bg($gray_1, 1);
  margin-bottom: 15px;
  p {
    margin-bottom: 0;
  }
}
/* @end */