%header.center_stage
  %h1 Grid
  .context_bar
%article
  %h2.rule 8 columns of fluid goodness
  .grid_4
    %p
      The fluid grid system is kindly provided by
      %a{:href => "http://960.gs"} 960.gs.
      Though the grid is fluid, The City does not support a fluid layout. However, using a fluid grid will allow for some flexibility in the future.
    %p
      The area in which your app will live is currently
      %strong 740px
      wide.
  .grid_4.omega
    %p Your columns can total up to 8, but your last column needs a class of 'omega' to keep off that right margin.
    %pre.prettyprint
      = preserve do
        :escaped
          <div class="grid_4"></div>
          <div class="grid_4 omega"></div>
.clear
  .grid_1
    %p.demo grid_1
  .grid_1
    %p.demo grid_1
  .grid_1
    %p.demo grid_1
  .grid_1
    %p.demo grid_1
  .grid_1
    %p.demo grid_1
  .grid_1
    %p.demo grid_1
  .grid_1
    %p.demo grid_1
  .grid_1.omega
    %p.demo grid_1
  .grid_2
    %p.demo grid_2
  .grid_2
    %p.demo grid_2
  .grid_2
    %p.demo grid_2
  .grid_2.omega
    %p.demo grid_2
  .grid_3
    %p.demo grid_3
  .grid_5.omega
    %p.demo grid_5
  .grid_4
    %p.demo grid_4
  .grid_4.omega
    %p.demo grid_4
  .grid_5
    %p.demo grid_5
  .grid_3.omega
    %p.demo grid_3
  .grid_6
    %p.demo grid_6
  .grid_2.omega
    %p.demo grid_2
  .grid_7
    %p.demo grid_7
  .grid_1.omega
    %p.demo grid_1
  .grid_8
    %p.demo grid_8
  %h3.rule.gutterbottom Pushing & Pulling Columns
  .push_1.grid_1.clear
    %p.demo push_1
  .push_2.grid_1.clear
    %p.demo push_2
  .push_3.grid_1.clear
    %p.demo push_3
  .push_4.grid_1.clear
    %p.demo push_4
  .push_5.grid_1.clear
    %p.demo push_5
  .push_6.grid_1.clear
    %p.demo push_6
  .push_7.grid_1.clear
    %p.demo push_7
  .pull_1.grid_1.clear.right
    %p.demo pull_1
  .pull_2.grid_1.clear.right
    %p.demo pull_2
  .pull_3.grid_1.clear.right
    %p.demo pull_3
  .pull_4.grid_1.clear.right
    %p.demo pull_4
  .pull_5.grid_1.clear.right
    %p.demo pull_5
  .pull_6.grid_1.clear.right
    %p.demo pull_6
  .pull_7.grid_1.clear.right
    %p.demo pull_7
  %h3.rule.gutterbottom.clear Prefixes & Suffixes
  .grid_6.prefix_1.suffix_1.clear
    %p.demo grid_6 prefix_1 suffix_1
  .grid_5.prefix_2.suffix_1.clear
    %p.demo grid_5 prefix_2 suffix_1
  .grid_4.prefix_3.suffix_1.clear
    %p.demo grid_4 prefix_3 suffix_1
  .grid_5.prefix_1.suffix_2.clear
    %p.demo grid_5 prefix_1 suffix_2
  .grid_4.prefix_1.suffix_3.clear
    %p.demo grid_4 prefix_1 suffix_3
  .grid_3.prefix_1.suffix_4.clear
    %p.demo grid_3 prefix_1 suffix_4