%div.container_12.clearfix
	%header.center_stage
		%h1 Utility Classes
		%div.context_bar
	%section
		%table.with_borders
			%thead
				%tr
					%th Class name
					%th Description

			%tbody
				%tr
					%td .clear
					%td Forces the element to clear both.
				%tr
					%td .rule
					%td Used for type. Adds a horizontal rule under the text.
				%tr
					%td .nolead
					%td Forces 0 top margin on an element.
				%tr
					%td .nostyle
					%td For Unordered list. Removes list style and left margins. Sometimes lists are the right element symantically, but not visually.
				%tr
					%td .guttertop, .gutterbottom
					%td Adds 20px margin to the top or bottom.
				%tr
					%td .left, .right
					%td Forces an element to float left or right.