.admin-nav-col {
  border-right: 1px solid $gray_2;
  padding-bottom: 100px;
  li {
    border-bottom: 1px solid $gray_1;
  }
  a {
    font-size: 18px;
    line-height: 1.2;
    padding: 10px 10px 10px 0;
    display: block;
    &.active {
      @include gradient_x($white, $gray_1);
    }
  }
  .nav-desc {
    display: block;
    font-size: 11px;
    color: $gray_4;
  }
}