body {
  background-color: #80b4b9;
  padding: 0;
  margin: 0 !important; 
}
.footer{
  margin: 10px auto 40px auto;
  max-width: 980px;
  color: #eae7e1; 
}
.container {
  margin: 0 auto;
  max-width: 980px;
  min-width: 768px;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='ie-hex-str(white)', endColorstr='ie-hex-str(white)');";
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='ie-hex-str(white)', endColorstr='ie-hex-str(white)');
  background-color: transparent;
  background-color: white;
  zoom: 1;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.25); }

/* SIDEBAR */
.sidebar {
  width: 192px;
  position: absolute;
  margin-right: 1px; }
  .sidebar nav ul {
    list-style-type: none; }

.masthead {
  padding: 20px;
  border-bottom: 1px solid #cccccc; }
  .masthead h1 {
    background-image: url(../images/sprite.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    text-indent: -5000em;
    overflow: hidden;
    display: inline-block;
    height: 94px;
    width: 162px;
    margin: 0; }

.sidenav ul {
  margin: 0;
  padding: 0; }
.sidenav li {
  font-size: 18px;
  border-bottom: 1px solid #cccccc;
  margin: 1px 0 0 0;
  position: relative; }
  .sidenav li a {
    padding: 6px 20px;
    display: block;
    width: 152px;
    margin: 1px 0;
    text-decoration: none;
    color: #777777; }
    .sidenav li a:hover {
      background-color: #e2e2e2;
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='ie-hex-str(white)', endColorstr='ie-hex-str(#e2e2e2)');";
      filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='ie-hex-str(white)', endColorstr='ie-hex-str(#e2e2e2)');
      zoom: 1;
      background: -webkit-gradient(linear, left top, right top, from(white), to(#e2e2e2));
      background: -moz-linear-gradient(left, white, #e2e2e2); }
  .sidenav li.active a {
    background-color: #888888;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='ie-hex-str(#777777)', endColorstr='ie-hex-str(#888888)');";
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='ie-hex-str(#777777)', endColorstr='ie-hex-str(#888888)');
    zoom: 1;
    background: -webkit-gradient(linear, left top, left bottom, from(#777777), to(#888888));
    background: -moz-linear-gradient(top, #777777, #888888);
    color: white; }

/* @end SIDEBAR */
.content {
  margin-left: 193px;
  min-height: 500px;
  border-left: 1px solid #cccccc;
  padding: 0 1px;
  border-top: 0;
  border-bottom: 0; }
  .content .content-inner {
    padding: 20px; }

pre {
  font-size: 12px;
  padding: 10px !important;
  word-wrap: break-word;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='ie-hex-str(rgba(212, 130, 48, 0.2))', endColorstr='ie-hex-str(rgba(212, 130, 48, 0.2))');";
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='ie-hex-str(rgba(212, 130, 48, 0.2))', endColorstr='ie-hex-str(rgba(212, 130, 48, 0.2))');
  background-color: transparent;
  background-color: rgba(212, 130, 48, 0.2);
  zoom: 1;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  line-height: 1.5;
  border: 1px solid #d48230 !important;
  color: #444444;
  margin-bottom: 30px; }

table pre {
  padding: 3px; }
table h1, table h2, table h3, table h4, table h5, table h6 {
  margin: 0; }
