/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
*/
@import "all/jquery-ui-1.9.1.custom";
@import "all/mixins";
@import "all/colors";
@import "all/reset";
@import "all/type";
@import "all/buttons";
@import "all/forms";
@import "all/tables";
@import "all/grid";
@import "all/center_stage";
@import "all/news_feed_items";
@import "all/giving";
@import "all/alerts";
@import "all/prettify";

body {margin: 20px;}

.demo {
  @include bg($green, .4);
  padding-top: 10px; 
  padding-bottom: 10px; 
  height: 20px;
  text-align: center;
  @include round(3px);
  margin-bottom: 20px;
}
.box {
  @include bg($green, .4); 
  @include round(3px);
  margin-bottom: 20px; 
  .demo {
    margin-bottom:0;
  }
}


/* http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack */

.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}


/* UTILITY CLASSES */
.clear{clear:both;}
.rule {padding-bottom:3px; border-bottom:1px solid $gray_2; margin-bottom:15px;}
.nolead {margin:0;}
.nostyle {list-style-type: none; margin-left: 0;}
.guttertop {margin-top: 20px;}
.gutterbottom {margin-bottom: 20px;}
.smallgutterbottom {margin-bottom: 10px;}
.smallguttertop {margin-top: 10px;}
.bottomout { margin-bottom: 0; padding-bottom: 0;}
.right {float: right !important;}
.left {float: left !important;}
.hide {display: none;}
.section-end {
  border-bottom: 1px solid $gray_2;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.section-begin {
  border-top: 1px solid $gray_2;
  padding-top: 10px;
  margin-top: 10px;
}

/* GENERIC CONTAINER ITEMS */
.item {
  padding: 10px;
  @include round(3px);
  @include bg($gray_1, 1);
  margin-bottom: 15px;
  p {
    margin-bottom: 0;
  }
}
/* @end */